<h2 class="header">Header</h2>
<form materialize class="col s12" *ngIf="book">
  <div class="row">
    <div class="input-field col s6">
      <input [(ngModel)]="book.title" placeholder="Placeholder" id="first_name" type="text" class="validate" name="firstName">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field col s6">
      <input id="last_name" type="text" class="validate" name="lastName">
      <label for="last_name">Last Name</label>
    </div>
  </div>
</form>