<table class="bordered striped highlight">
  <thead>
    <tr>
      <th data-field="id">Title</th>
      <th data-field="name">Author</th>
      <th data-field="price">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author.fullName }}</td>
      <td>
        <a class="btn-floating modal-trigger" 
        href="#book-detail" 
        materialize="leanModal" 
        [materializeParams]="[{dismissible: false}]" 
        (click)="showDetails($event)" 
        [attr.data-book-id]="book.id" >
          <i class="material-icons">input</i>
        </a>
        <a class="btn-floating" [routerLink]="['edit', book.id]"><i class="material-icons">edit</i></a>
        <a class="btn-floating" [routerLink]="['delete', book.id]"><i class="material-icons">delete</i></a>
      </td>
    </tr>
  </tbody>
</table>

<book-detail></book-detail>